<!DOCTYPE html>
<html ng-app='myApp'>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
        <script src="app/resources/js/ng-infinite-scroll.js"></script>
        <script src="app/resources/js/app.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="/app/resources/css/style.css">	
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">	
		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
		<!-- Angular Material requires Angular.js Libraries -->		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    </head>
	

	
<div ng-controller='DemoController'> 	
    <div class="col-sm-4 min-padding">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search term" data-ng-model="searchTerm">
        </div>
    </div>
<div class="redditContainer">
<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1' infinite-scroll-container='".redditContainer"' infinite-scroll-parent='true'>
    <div class="row" ng-repeat='item in  itemsFilter = (reddit.items | filter:searchTerm | limitTo:reddit.numberToDisplay)'>
      <span class='score'>{{item.score}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
      </span>
      <small>by {{item.author}} -
        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
      </small>	  
      <div style='clear: both;'></div>
    </div>	    	
  </div>
  
</div>
<md-progress-circular class= "md-warn" ng-show="reddit.busy" md-mode="indeterminate"></md-progress-circular>
<!-- <md-progress-linear  class = "md-warn" ng-show="reddit.busy" md-mode="query"></md-progress-linear>
<md-progress-linear  ng-show="reddit.busy" md-mode="indeterminate"></md-progress-linear> -->
  
</div>

<div ng-controller='OrderController'>
    <div class="col-sm-4 min-padding">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search term" data-ng-model="searchTerm">
        </div>
    </div>
<div class="orderContainer">
<div infinite-scroll='order.nextPage()' infinite-scroll-disabled='order.busy' infinite-scroll-distance='5' infinite-scroll-container='".orderContainer"' infinite-scroll-parent='true'>
    <div class="row" ng-repeat='order in  ordersFilter = (order.items | filter:searchTerm)'>
      <span class='orderId'>{{order.orderId}}</span>
      <span class='price'>{{order.price}}</span>     
      <div style='clear: both;'></div>
    </div>
</div>
</div>
<md-progress-circular class= "md-warn" ng-show="order.busy" md-mode="indeterminate"></md-progress-circular>
</div>
</html>